.quick-note {
    width: 240px ;
    height: 240px;

    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: #FFC43D;
    z-index: 50 !important;
    color: black;
    text-align: left;
    padding: 8px;

    border: 1px solid black;
    box-shadow: 10px 10px black;
    transform: rotate(2deg);
}

.quick-note h2 {
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 22px;
    border-bottom: 1px solid black;
    font-size: 18px;
    font-weight: bold;
}

.quick-note p {
    font-size: 14px;
    line-height: 16px;
}
